.btn.btn-outline-primary.negative.active{
    background-color: red !important;
}

.btn.btn-danger.col-sm-1{
    margin-left: 0.7rem;
    padding-right: 1.3rem;
    width: 2rem;    
    border-radius: 50%;
}