.btn.btn-outline-primary.negative.active{
    background-color: red !important;
}

.btn.btn-danger.col-sm-1{
    margin-left: 0.7rem;
    padding-right: 1.3rem;
    width: 2rem;    
    border-radius: 50%;
}

.col-md-6.inputs{
    margin-left: 1rem;
}

.errMsg{
    color: red;
    font-weight: 1000;
}